<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @zombie.nickname %>
</p>

<p>
  <strong>Dead:</strong>
  <%= @zombie.dead %>
</p>

<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
